/* Centralized import sheet for remote fonts. */
@import "https://fonts.cdnfonts.com/css/oooh-baby";
@import "https://fonts.cdnfonts.com/css/inria-serif";
@import "https://fonts.cdnfonts.com/css/cormorant-garamond";
@import "https://fonts.googleapis.com/css2?family=Delius&display=swap";
@import "https://fonts.cdnfonts.com/css/quicksand";
@import "https://fonts.googleapis.com/css2?family=Poiret+One&display=swap";
@import "https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles:wght@400;700&display=swap";
@import "https://fonts.googleapis.com/css2?family=Emilys+Candy&display=swap";
@import "https://fonts.googleapis.com/css2?family=DynaPuff:wght@400..700&display=swap";