header {
    background-image: url("/img/lightcoloredbackdrop.png");
    box-shadow: 0 0 60px rgba(78, 22, 45, 0.3);
    padding: 0 2.5rem;

display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#backarrow {
    width: 2rem;
    height: auto;
}