#searchresults {
    margin-top: 1rem;
    width: 100%;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

div.resultwrapper {
    display:flex;
    flex-direction: row;
    width: 100%;
    border-bottom-style: solid;
    border-color: #AE8799;
}

div.resultwrapper > i {
    width: 64px;
    height: auto;
    aspect-ratio: 1/1;

    margin-right: 5px;

    background-image: url("/img/listadd.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

div.resulttext {
    flex-grow: 1;
    display: flex;
    flex-direction: column;

    text-align: left;
    padding-left: 5px;
}

div.resulttext > p {
    margin: 0;
    padding: 4px;
    font-family: var(--body-font, sans-serif);
}
.groupname {
    font-size: 32pt;
}
.membercounttext {
    font-size: 24pt;
}

button#creategroupbutton {
    padding: 10px;
    font-size: 16pt;
    border-radius: 8px;
    border-style: none;
    background-color: #AE8799;
    color: white;
    text-align: center;
}