@import "tailwindcss";

#backarrow {
    position: absolute;
    left: 0px;
    bottom: 0px;
    padding-left: 10px;
    display: flex;
    align-items: center;

    max-width: 120px;
    width: 15vw;
    height: 100%;

    cursor: pointer;
}

#backarrow > img {
    width: 100%;
    height: auto;
    aspect-ratio: 1/1;
}

header {
    position: relative;
    height: fit-content;
    width: 100vw;

    display: flex;
    flex-direction: row;
    align-items: center;

    padding: 13px 0;
    background-image: url("/images/backgrounds/lightcoloredbackdrop.png");
    box-shadow: 0 0 20px rgba(78, 22, 45, 0.3);
}

header > h1 {
    width: 100%;

    text-align: center;
    font-family: "Oooh Baby";
    font-size: 30px;}

body {
    background-color: #fbf7f8;
    background-blend-mode: lighten;
    text-align: center;
    font-family: var(--header-font);
    font-size: 30pt;
}

main {
    max-width: 500px;
    padding: 3vw;
}
@media (max-width: 600px) {
    
    
}

@media (min-width: 601px) {
    
}
