@import 'tailwindcss';

header {
    background-image: url("/images/backgrounds/lightcoloredbackdrop.png");
    box-shadow: 0 0 60px rgba(78, 22, 45, 0.3);
    padding: 0.5vw 2.5vw 0.5vw 2.5vw;
    width: 100vw;
}
body {
    background-blend-mode: lighten;
    text-align: center;
    font-family: "Oooh Baby", sans-serif;

    display: flex;
    flex-direction: column;
    align-items: center;
}
