/*
Media queries at the bottom. Keep layout visibility properties within them.
*/

body {
    margin: 0px;
    padding: 0px;
}

p {
    margin: 0px;
}

/* Nav bar styles here ----------------------- */
div#top-nav-bar {
    display: flex;
    flex-direction: row;
    height: fit-content;
    position: relative;
}

div#brand-icon {
    margin-right: 7px;
    padding: 5px;
}

#brand-icon > img {
    width: 50px;
    height: 50px;
}

.button-row-group {
    height: 100%;
}

.nav-button > p {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    position: relative;
    top: 50%;
    transform: translate(0, -50%);
}
/* Hero styles here -----------------------------*/
#hero {
    /* Placeholder image used here */
    background-image: url("https://fastly.picsum.photos/id/316/2400/1200.jpg?hmac=Np4mjy4RYnIpOKxs_PSYumzzwVkCbJQxgG6BaOax58M");
    background-position: center;

    display:flex;
    width: 100%;
    height: 40vh;
    align-items: center;
    justify-content: center;
}

#hero-text {
    color:white;
    width: auto;
    text-align: center;
    font-size: 60px;
    font-weight: 500;
    text-shadow: 2px 2px 5px #000
}
/* Content styles here ------------------------- */

/* Mobile only changes here */
@media (max-width: 500px) {

    .desktop-only {
        display: none;
    }

    #top-button-group {
        position: absolute;
        display: none;
    }

    /* Menu Icon */
    #menu-icon {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 64px;
    }
    #menu-icon > img {
        height: 80%;
    }
    #menu-icon:active {
        color: blue;
        background-color: rgba(50,50,20, 0.6);
    }
    #menu-icon > img:active {
        color: blue;
        filter: invert(0.95)
    }
    #top-login-button {
        flex-grow: 2;
        display: flex;
        padding-right: 10px;
        flex-direction: row-reverse;
    }
    #top-login-button > p {
        text-align: right;
        width: fit-content;
        padding: 20px;
        align-self: center;
    }
}

/* Desktop only changes here */
@media (min-width: 501px) {
    .mobile-only {
        display: none;
    }    

    /* Nav bar styles */
    #top-nav-bar {
        background-color: aliceblue;
    }
    #top-button-group {
        display: flex;
        flex-direction: row;
    }
    .nav-button {
        width: 100px;
    }
}

.drawn-solid-border {
    border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
}