@import "tailwindcss";
/*
Media queries at the bottom. Keep layout visibility properties within them.
*/

.indie-flower-regular {
  font-family: "Indie Flower", cursive;
  font-weight: 400;
  font-style: normal;
}
.drawn-border {
    border-image-source: url('/images/graphite.jpg');
    border-image-width: 2px;
    border-image-repeat: repeat;
    border-image-slice: 20%;
}
div#hero {
    background-image: url('/images/graphpaper.jpg');
    background-size: 700px auto;
    background-repeat: repeat;
}
div#hero-text {
    font-size: 56px;
}

div#login-button-inner {
    font-size: 24px;
}